



.div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:0%;



}

img {    
    transition: transform .5s;
    margin:10 auto;
    background-color: transparent;
    border-radius: 0px;
    border: 0px solid black;
}

img:hover{
    transform:scale(1.1);
}



.mtnsLeft{
    position:absolute;
    height: 788px;
    width: 726px;
    bottom: 0px;
    left: 0px;
    background-image:url(images/Mountains1111.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.overlay-text{
  padding:20px;
  text-align:center;
  position:absolute;
  bottom:50px;
  left:100px;
}
